USE [master]
GO
/****** Object:  Database [Up]    Script Date: 31.01.2025 0:41:20 ******/
CREATE DATABASE [Up]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Up', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Up.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Up_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Up_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Up].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Up]
GO
/****** Object:  Table [dbo].[Advertisment]    Script Date: 31.01.2025 0:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisment](
	[Id] [int] NOT NULL,
	[AdDescription] [varchar](4000) NOT NULL,
	[City] [int] NOT NULL,
	[AdDate] [date] NOT NULL,
	[Photo] [varchar](max) NULL,
	[Category] [int] NOT NULL,
	[AdOwner] [int] NOT NULL,
	[AdName] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Advertisment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 31.01.2025 0:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] NOT NULL,
	[CategoryName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 31.01.2025 0:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] NOT NULL,
	[CityName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 31.01.2025 0:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[RoleName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31.01.2025 0:41:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[UserName] [varchar](150) NOT NULL,
	[UserSurname] [varchar](150) NOT NULL,
	[UserSecondName] [varchar](150) NULL,
	[UserLogin] [varchar](150) NOT NULL,
	[UserPassword] [varchar](150) NOT NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Advertisment] ([Id], [AdDescription], [City], [AdDate], [Photo], [Category], [AdOwner], [AdName]) VALUES (1, N'Милая сова', 0, CAST(N'2025-01-15' AS Date), NULL, 4, 0, N'Мой друг')
INSERT [dbo].[Advertisment] ([Id], [AdDescription], [City], [AdDate], [Photo], [Category], [AdOwner], [AdName]) VALUES (2, N'Варенье из шишек', 1, CAST(N'2025-01-16' AS Date), NULL, 0, 2, N'Очень вкусное! Всем советую')
INSERT [dbo].[Advertisment] ([Id], [AdDescription], [City], [AdDate], [Photo], [Category], [AdOwner], [AdName]) VALUES (3, N'Пропала собака...', 2, CAST(N'2025-01-17' AS Date), NULL, 2, 1, N'Помогите найти. Нашедшему полагается вознаграждение')
GO
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (0, N'Готовка')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (1, N'Идеи')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (2, N'Новости')
GO
INSERT [dbo].[City] ([Id], [CityName]) VALUES (0, N'Москва')
INSERT [dbo].[City] ([Id], [CityName]) VALUES (1, N'Санкт-Перербург')
INSERT [dbo].[City] ([Id], [CityName]) VALUES (2, N'Екатеринбург')
GO
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Пользователь')
GO
INSERT [dbo].[Users] ([Id], [UserName], [UserSurname], [UserSecondName], [UserLogin], [UserPassword], [UserRole]) VALUES (0, N'Таисия', N'Блинова', N'Артёмовна', N'bliin01', N'123blin', 2)
INSERT [dbo].[Users] ([Id], [UserName], [UserSurname], [UserSecondName], [UserLogin], [UserPassword], [UserRole]) VALUES (1, N'Михаил', N'Морозов', N'Макарович', N'moroz', N'12345a', 1)
INSERT [dbo].[Users] ([Id], [UserName], [UserSurname], [UserSecondName], [UserLogin], [UserPassword], [UserRole]) VALUES (2, N'Виктория', N'Кукушкина', N'Марковна', N'kyky', N'kyk3', 2)
GO
ALTER TABLE [dbo].[Advertisment]  WITH CHECK ADD  CONSTRAINT [FK_Advertisment_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Advertisment] CHECK CONSTRAINT [FK_Advertisment_Category]
GO
ALTER TABLE [dbo].[Advertisment]  WITH CHECK ADD  CONSTRAINT [FK_Advertisment_City] FOREIGN KEY([City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Advertisment] CHECK CONSTRAINT [FK_Advertisment_City]
GO
ALTER TABLE [dbo].[Advertisment]  WITH CHECK ADD  CONSTRAINT [FK_Advertisment_Users] FOREIGN KEY([AdOwner])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Advertisment] CHECK CONSTRAINT [FK_Advertisment_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
